<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lf.blog.mapper.WorkMapper">
    <insert id="addNewWork" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO work set title=#{title}
        ,brief=#{brief}
        ,uid = #{uid}
        ,work_code = #{workCode}
    </insert>
    <select id="getMaxWorkNum" resultType="Long">
        SELECT MAX(work_code) FROM work
    </select>

    <select id="getWorkByStateByUser" resultType="org.lf.blog.bean.Work">
        SELECT id,title
        ,work_code workCode
        ,brief brief
        FROM work w WHERE w.uid = #{uid}
        ORDER BY w.work_code DESC limit #{start},#{count};
    </select>

    <select id="getWorkCountByStateByUser" resultType="int">
        SELECT COUNT(*) FROM work w WHERE w.uid = #{uid}
    </select>

    <delete id="deleteWorkByIds">
        DELETE FROM work WHERE id IN
        <foreach collection="ids" separator="," open="(" close=")" item="id">
            #{id}
        </foreach>
    </delete>
</mapper>